@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+HK:wght@400;500;700&family=Roboto+Condensed&display=swap');

.portfolio-volume__circular-container {
    transition: .4s;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.portfolio-volume__circular-container svg {
   width: 270px;
   height: 270px;
   z-index: 320;
}



.portfolio-volume__circular-container svg circle{
    transition: .8s;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgb(76, 104, 254);
    stroke-width: 20;
    stroke-linecap: round;
}

.portfolio-volume__circular-container svg circle:nth-child(1){
    stroke: rgb(226, 226, 226);
    stroke-width: 10
}

.portfolio-volume__circular-container svg circle:nth-child(2){
    stroke-dasharray: 320;
}

.portfolio-volume__circular-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 200;
    position: absolute;
    margin-left: 115px;
}


.circular-value__cash{
    text-transform: uppercase;
    font-size: 30px;
    font-family:"Noto Sans HK";
    font-weight: 500;
    color: rgb(68, 133, 211);
}


.circular-value__usd{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family:"Noto Sans HK";
    font-weight: 700;
    color: rgb(107, 107, 107);
}


.circular-container__little-circle{
    transition: .4s;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(76, 104, 254);
}